@use "./settings" as var;
.contexte{
    color: var.$bg-dark;
    margin: 50px;
    padding: 50px;
    padding-bottom: 100px;
    font-weight: bold;
    @include border;
    h1{
        font-size: 1.5rem;
        border-bottom: 1px solid var.$bg-dark;
        width: 200px;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
    }
    p{
        line-height: 2rem;
        font-size: 1.3rem;
    }
}