@font-face {
  font-family: Marvel-Regular;
  src: url(./font/Marvel-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
* a {
  text-decoration: none;
  color: white;
}

body {
  background: var(--fond-dark, #141e30);
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  font-family: Marvel-Regular, "Courier New", Courier, monospace;
}

.hide {
  visibility: hidden;
}

.bigContainer {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}
.bigContainer .logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bigContainer .logoContainer img {
  max-width: 100%;
  margin-top: 50px;
}
.bigContainer .question {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bigContainer .question #goodAnswer {
  color: green;
  opacity: 0;
}
.bigContainer .question #badAnswer {
  color: red;
  opacity: 0;
}
.bigContainer .question form {
  border: none;
}
.bigContainer .question form input {
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px 0;
  border: transparent;
  outline: none;
  border: 3px solid transparent;
}
.bigContainer .question form input:focus {
  border: 3px solid rgb(21, 0, 255);
}
.bigContainer .accueil {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bigContainer .accueil h1 {
  text-align: center;
  border-bottom: 1px solid white;
}
.bigContainer .accueil img {
  opacity: 0;
  transition: all 1s ease-in-out;
}
.bigContainer .accueil img {
  border: 1px solid white;
  border-radius: 10px;
}

@font-face {
  font-family: Marvel-Regular;
  src: url(./font/Marvel-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

* a {
  text-decoration: none;
  color: white;
}

body {
  background: var(--fond-dark, #141e30);
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  font-family: Marvel-Regular, "Courier New", Courier, monospace;
}

.hide {
  visibility: hidden;
}

nav {
  width: 100%;
}
nav ul {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 1.5rem;
}
nav ul li {
  width: 200px;
  margin: 15px;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 10px;
  text-shadow: 1px 1px 1px rgb(8, 8, 8);
  transition: all 0.2s ease-in-out;
  text-align: center;
}
nav ul li:hover {
  background: rgba(178, 214, 255, 0.5215686275);
}

@font-face {
  font-family: Marvel-Regular;
  src: url(./font/Marvel-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

* a {
  text-decoration: none;
  color: white;
}

body {
  background: var(--fond-dark, #141e30);
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  font-family: Marvel-Regular, "Courier New", Courier, monospace;
}

.hide {
  visibility: hidden;
}

.contexte {
  color: whitesmoke;
  margin: 50px;
  padding: 50px;
  padding-bottom: 100px;
  border: 1px solid white;
  border-radius: 10px;
}
.contexte h1 {
  font-size: 1.5rem;
  border-bottom: 1px solid whitesmoke;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.contexte p {
  line-height: 2rem;
  font-size: 1.3rem;
}

.arborescence {
  display: flex;
  justify-content: center;
}
.arborescence img {
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 50px;
}

.usecaseImg {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.usecaseImg img {
  border: 1px solid white;
  border-radius: 10px;
}

footer {
  width: 100%;
}
footer .footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(175, 175, 175);
  margin-top: 20px;
  border-top: 1px solid grey;
}/*# sourceMappingURL=style.css.map */